#mob-nav {
  justify-content: center;
  background-color: var(--primary-color);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.nav-link {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 3rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #dcdcdc;
}

.navmob-selected {
  color: var(--dark-color);
}
