.category-card {
  width: 100%;
  background-color: var(--primary-color);
  margin-bottom: 4rem;
  box-shadow: 8px 7px 12px 0 rgba(255, 255, 255, 0.3);
}

.category-card:last-of-type {
  margin-bottom: 2rem;
}

.category-image {
  height: 16rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid var(--primary-color);
}

.category-card-title {
  font-size: 2.5rem;
  color: var(--light-color);
}

.category-card-button {
  background-color: var(--secondary-color);
  border: none;
  color: var(--dark-color);
  padding: 0.5rem 1rem;
}

.category-card-button:focus,
.category-card-button:hover,
.category-card-button:active {
  background-color: var(--dark-color) !important;
  border: none;
  box-shadow: none !important;
  color: var(--light-color);
}

.category-card-button-icon {
  color: var(--red-color);
  margin-right: 0.5rem;
}

.category-card-button-badge {
  color: var(--red-color);
  margin-left: 0.5rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .category-card {
    width: 80%;
  }

  .category-image {
    height: 24rem;
  }

  .category-card-title {
    font-size: 3.5rem;
  }

  .category-card-button {
    padding: 1rem 2rem;
  }
}
