h1 {
    text-align: center;
    letter-spacing: 1px;
    font-family:'Libre Barcode 128 Text', cursive ;
   color: #dcdcdc;;
  }
  
  .hero {
   border-bottom: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   width: ;
   height: auto;
   background-color: #778899;;
  }
  
  .hero img {
    padding: 1em;
    width: 9em;
    justify-content: left;
    
  }