.hero {
  border-bottom: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #778899;
}

.hero h1 {
  /* text-align: center; */
  letter-spacing: 1px;
  font-size: 5rem;
  font-family: 'Libre Barcode 128 Text', cursive;
  color: #dcdcdc;
}

.hero img {
  padding: 1em;
  width: 9em;
  /* justify-content: left; */
}
