body {
  background-image: url(./Images/cookbook\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}
.header {
  display: flex;
  font-size: 8em;
  justify-content: center;
}
.logo{
  font-family: 'Libre Barcode 128 Text', cursive;


}