#main-nav {
    background-color: var(--primary-color);
    justify-content: flex-end;
  }

#main-nav ul {
    flex-direction: row;
    justify-content: flex-end;
}

#main-nav a {
    text-decoration: none;
    color: #dcdcdc;    
    margin-left: 5.5rem;
    justify-content: space-between;
}

#main-nav a:hover,
#main-nav a:active {
    color:black;
}