.main-nav {
  justify-content: flex-end;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.main-nav-icon {
  color: var(--red-color);
  font-size: 2rem;
}

.main-nav ul {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.main-nav a {
  text-decoration: none;
  color: var(--light-color);
  margin: 0 3rem;
  justify-content: space-between;
  font-size: 3rem !important;
}

.main-nav a:hover,
.main-nav a:active {
  color: var(--red-color);
}

.nav-selected {
  color: var(--red-color) !important;
}
